@model List<AirBench.Models.Bench>

<h1>Welcome to AirBench.</h1>

@Html.ActionLink("Add a Bench", "Add", "Bench")

<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Benches</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bench in Model)
        {
            <tr>
                <td>
                    <ul>
         
                        @if(bench.GetRating() == null)
                        {
                            <li>No Ratings</li>
                        }else
                        {
                            <li>@bench.GetRating()</li>
                        }
                        <li>@bench.Description</li>
                    </ul>
                </td>
            </tr>
        }
       
    </tbody>
</table>
